html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Cinzel, serif;
}

/* #region header */
.header {
  background-image: url(images/image-logo-header.png);
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}


.header__icons {
  display: flex;
  gap: 24px;
}

.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icon {
  padding: 25px 20px 0;
}

.icon--phone {
  height: 24px;
  width: 24px;
}

.title {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
  text-align: center;
  width: 100%;
  max-width: 600px;
}

/* #endregion */
