@use './utils/mixins.scss';

:root {
  --color-red: #D12D35;
  --color-black: #161616;
}

html {
  scroll-behavior: smooth;
  font-family: Cinzel, serif;
}

*, *::before, *::after {
  box-sizing: border-box;
  font-family: Cinzel, serif;
}

.page {
  &__body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
}

.top_bar {
  position: relative;
  box-sizing: border-box;

  @include mixins.top-bar-padding;
  display: flex;

  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 40px;

  &__logo {
    display: flex;
    @include mixins.hover(transform, scale(1.2));
  }

  &__icon--aside {
    @include mixins.hover(transform, scale(1.2));
  }

  &__icons {
    display: flex;
    gap: 24px;
  }

  &__phone {
    @include mixins.hover(transform, scale(1.2));
  }

  &__menu {
    @include mixins.hover(transform, scale(1.2));
  }

  &__close {
    @include mixins.hover(transform, scale(1.2));
  }
}

.header {
  background-image: url(../images/img.svg);
  background-size: cover;
  padding: 25px 20px;

  background-position: center;
  position: relative;
  height: 100vh;


  &__title {
  position: absolute;
  color: #fff;
  text-align: center;
  width: 280px;
  height: 80px;

  top: 35%;
  left: 50%;
  transform: translateX(-50%);
 }
}

.page__menu {
  position: fixed;
  padding: 25px 20px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #D12D35;

  opacity: 0;
  transform: translateX(-100%);
  transition: transform 0.3s ease, opacity 0.3s ease;

  &:target {
  opacity: 1;
  transform: translateX(0);
  }
}

.container {
  @include mixins.padding-inline;
}

.menu__nav {

&__list {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 32px;
  list-style: none;
  font-weight: 700;
  text-transform: uppercase;
  align-items: flex-start;
}

  &__link {
    position: relative;
    line-height: 22px;
    font-size: 22px;
    text-decoration: none;
    color: #fff;

  &::after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: -8px;
    background-color: #fff;

    transform: scaleX(0);
    transition: transform 0.3s;
  }

  &:hover::after {
    transform: scaleX(1);
  }
 }
}

.aside__content {
  margin-top: 32px;
  margin-bottom: 31px;
  gap: 8px;
  text-transform: uppercase;
  font-weight: 700;
  color: #fff;
  text-decoration: none;
  line-height: 27px;
  font-size: 16px;
  letter-spacing: 0;

  &__contact1 {
  margin-bottom: 8px;
}

&__number {
  color: #fff;
  text-decoration: none;
  line-height: 27px;
  font-size: 16px;
  letter-spacing: 0;
}

&__order {
  font-weight: 700;
  padding-top: 16px;
  text-transform: uppercase;
  cursor: pointer;
  position: relative;
  width: fit-content;
  color: #fff;
  font-size: 12px;
  letter-spacing: 2px;
  line-height: 16px;

  &::after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: -8px;
    background-color: #fff;

    transform: scaleX(0);
    transition: transform 0.3s;
  }

  &:hover::after {
    transform: scaleX(1);
  }
}
}

.main {
  @include mixins.padding-inline;
  display: grid;
  gap: 100px;
  padding-top: 100px
}

.museum-hours {
  @include mixins.onDevices;

  &__title {
    grid-column: 1 / -1;
    margin-bottom: 32px;

    @include mixins.onTablet {
      grid-column: 1 / 4;
    }

    @include mixins.onDesktop {
      grid-column: 1 / 6;
    }

  }

  &__plan {
    grid-column: 1 / -1;
    font-weight: 700;
    font-size: 12px;
    color: var(--color-red);
  }

  &__main-content {
    margin: 0;
    grid-column: 1 / -1;

    @include mixins.onTablet {
      grid-column: 4 / -1;
    }

    @include mixins.onDesktop {
      grid-column: 6 / -1;
    }
  }

  &__text {

    margin: 0;
    margin-top: 2px;
    color: var(--color-black);
    font-weight: 700;
    line-height: 32px;
    font-size: 32px;

    @include mixins.onTablet {
      grid-column: 1 / 4;
      font-size: 48px;
      line-height: 48px;
    }
  }


  &__time {
      font-weight: 700;
    }

    &__days {
      font-weight: 400;
    }

  &__content1 {
    @include mixins.onTablet {
    }

    margin-bottom: 24px;
  }

  &__location {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 16px;
  }

  &__schedule {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 8px 24px;
    margin-bottom: 25px;
  }


  &__holiday {
    margin-top: 16px;
    gap: 0;

    &__label {
      font-weight: 700;
      margin-bottom: 0;
    }

    &__thank {
      margin: 0;
    }
  }
}

.now-on-view {
  @include mixins.onDevices;

  &__title {
  text-align: center;
  grid-column: 1 / -1;
   margin: 0;
    font-weight: 700;
    font-size: 32px;
    line-height: 32px;

  @include mixins.onTablet {
    grid-column: 2 / 6;
    font-size: 48px;
    line-height: 48px;
  }

  @include mixins.onDesktop {
    grid-column: 4 / 10;
    font-size: 48px;
    line-height: 48px;
  }


  }

  &__text {
    text-align: center;
    text-align: center;
    grid-column: 1 / -1;

  @include mixins.onTablet {
    grid-column: 2 / 6;
  }

  @include mixins.onDesktop {
    grid-column: 4 / 10;
  }

    margin-top: 8px;
    line-height: 27px;
    font-weight: 400;
  }

  &__pictures1 {
    margin-top: 48px;


    &--photos {
      
    &-L {
    margin-right: 20px;
    object-fit: cover;
    max-width: 100%;
  height: auto;
    grid-column: 1 / 2;

    @include mixins.onTablet {
      grid-column: 1 / 3;
    }
  }

   &-R {
    margin-right: 20px;
    object-fit: cover;
    grid-column: 2 / -1;
    max-width: 100%;
    height: auto;

    @include mixins.onTablet {
      grid-column: 4 / -1;
    }
  }
    }



   &-info {
    grid-column: 1 / -1;
    text-align: center;

    text-align: left;
    margin-top: 24px;
  }

   &-title {
    color: var(--color-red);
    font-weight: 700;
  }

   &-date {
    margin: 0;
  }
  }

  &__pictures2 {
    margin-top: 48px;
    grid-column: 1 / -1;

   &-photo:not(:first-child) {
    margin-left: 8px;
  }

   &-info {
    margin-top: 24px;
    text-align: left;
  }
  }

  &__pictures3 {
    margin-top: 48px;
    grid-column: 1 / -1;
    @include mixins.onDevices;

    &-container {
      @include mixins.onDevices;
    }

    &-L {
      margin-right: 20px;
      grid-column: 1 / 2;
      width: 100%;
      @include mixins.onTablet {
      grid-column: 1 / 3;
    }

    @include mixins.onDesktop {
      grid-column: 1 / 6;
    }
    }

    &-R {
      margin-right: 20px;
      grid-column: 2 / -1;
      width: 100%;
      @include mixins.onTablet {
      grid-column: 3 / -1;
    }

    @include mixins.onDesktop {
      grid-column: 1 / 6;
    }
    }

    &-info {
      margin-top: 24px;
      text-align: left;
    }

    &-title {
      font-weight: 700;
      color: var(--color-red);
    }

    &-date {
      margin: 0;
    }
  }


  &__button {
    margin-top: 40px;
    justify-items: center;
    align-items: center;
    background-color: var(--color-red);
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    justify-items: center;
    align-items: center;


    &-link {
    grid-column: 1 / 3;
    text-decoration: none;
    color: #FFF;
    width: 100%;
    background-color: var(--color-red);
    color: #fff;
    padding: 15px;
    text-align: center;
    border: none;
    cursor: pointer;
    }
  }

}

.explore-online {
  align-items: center;
  flex-direction: column;
  gap: 48px;
  display: flex;

 &-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-weight: 700;
  font-size: 32px;
  line-height: 32px;
  letter-spacing: -1.5px;
  }

 &__image {
  width: 100%;
 }

 &__info {
  margin-top: 24px;
  justify-content: center;

  &-title {
    color: var(--color-red);
    font-weight: 700;
    font-size: 24px;
    line-height: 140%;
    text-align: center;
  }

  &-text {
    font-weight: 400;
    font-family: "Roboto", sans-serif;;
    text-align: center;
    margin-top: 4px;
    margin-bottom: 0;
    font-weight: 400;
    font-size: 16px;
  }
  }
}

.contact-us {


 &__title {
  display: flex;
  margin: 0;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-weight: 700;
  font-size: 32px;
  line-height: 32px;
  letter-spacing: -1.5px;
 }

 &__info1 {
  margin-top: 48px;

   &-title {
    font-weight: 700;
    margin-bottom: 16px;
   }
  }

  &__info1-phone {
    margin: 0;

    display: flex;
    flex-direction: column;
    gap: 8px;

    span:last-child {
      font-weight: 700;

    }
  }

  &__info1-address {
    margin-top: 8px;
    display: flex;
    flex-direction: column;
    gap: 8px;

    span:last-child {
      font-weight: 700;
    }
  }


 &__info2 {
  margin-top: 48px;

   &-title {
    font-weight: 700;
    margin-bottom: 16px;
   }
  }

  &__info2-phone {
    margin: 0;

    display: flex;
    flex-direction: column;
    gap: 8px;

    span:last-child {
      font-weight: 700;

    }
  }

  &__info2-address {
    margin-top: 8px;
    display: flex;
    flex-direction: column;
    gap: 8px;

    span:last-child {
      font-weight: 700;
    }
  }
 }

 .info {
    padding-inline: 20px;
 }

 .contact-form {
  gap: 0;
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
  max-width: 411px;
  margin-bottom: 85px;
  margin-top: 48px;

  &__input,
  &__textarea {
    width: 100%;
    padding: 15px;
    border: none;
    background-color: #f5f5f5;
    line-height: 20px;
    font-size: 14px;
    outline: none;
    border: 1px solid transparent;


    &::placeholder {
      color: #7E7E83;
    }

    &:hover {
      border-color:#D5D7DE;
    }

    &:active {
      border-color:#161616;
    }
  }

  &__textarea {
    height: 144px;
    resize: none;
  }

  &__button {
    margin-top: 17px;
    margin-bottom: 16px;
    background-color: #D12D35;
    color: #fff;
    padding: 15px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: #AE1C23;
    }

    &:active {
    background-color: #EB343D;

  }
  }
}

.footer__content {
  position: relative;
  width: 100%;
  max-width: 1260px;
  background-color: #000;

  overflow: hidden;
  display: flex;
  justify-content: center;

  &-image {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
}
}



