@mixin top-bar-padding() {
  @media (min-width: 625px) {
    padding: 50px 72px;
  }
  @media (min-width: 1260px) {
    padding: 50px 120px;
  }
}

@mixin padding-inline() {


  @media (min-width: 625px) {
    padding-inline: 72px;
  }

  @media (min-width: 1260px) {
    padding-inline: 120px;
  }
}

@mixin hover($property, $value) {
  transition: $property 0.3s;

  &:hover {
    #{$property}: $value;
  }
}

@mixin onTablet {
  @media (min-width: 625px) {
    @content;
  }
}

@mixin onDesktop {
  @media (min-width: 1260px) {
    @content;
  }
}

@mixin onDevices() {
  --columns: 2;
  display: grid;
  column-gap: 24px;
  grid-column: 1 / -1;
  grid-template-columns: repeat(var(--columns), 1fr);

  @include onTablet() {
    --columns: 6;
  }

  @include onDesktop() {
    --columns: 12;
  }
}




