@mixin content-padding() {
  @media (min-width: 576px) {
    padding: 50px 72px;
  }
}

@mixin padding-inline() {
  @media (min-width: 576px) {
    padding-inline: 72px;
  }
}

@mixin hover($property, $value) {
  transition: $property 0.3s;

  &:hover {
    #{$property}: $value;
  }
}

